<span class='add_software' style="margin: 15px;">
	<div class="ui-widget ui-corner-all">
	<div class="ui-widget-header ui-corner-top" style="padding: 0.4em;">New Software Item<span style="float: right; position: relative; top: 4px; cursor: pointer;" class="close_software ui-icon ui-icon-circle-close"></span></div>
	<div style="padding: 10px;" class="ui-widget-content">
	<%= fields_for 'computer[software]', @software, :index => nil do |s| %>
		Software Name: <br />
		<%= s.text_field :name, {id: 'addsoftware-computer_software__name-' + @time} %><br />
		Developer:<br />
		<%= s.text_field :dev, {id: 'addsoftware-computer_software__dev-' + @time} %><br />
		Serial Number:<br />
		<%= s.text_field :sn, {id: 'addsoftware-computer_software__sn-' + @time} %><br />
	<% end %>
	</div>
	</div>
</span>
<script type="text/javascript">theme_forms("addsoftware");</script>