<div class="pop">
	<h1>Hi This is a new file</h1>
		<a href='/computer/<%= @computer.name %>'>{name: <%= @computer.name %>}</a>
		{sn: <%= @computer.sn %>}
		{soft: }
		<br />
</div>
<script type="text/javascript">

$(document).ready(function(){
	popIt();
});

</script>