<span id="home_update" style="display: none;">
	Number of Computers: <%= @number_of_computers %>
	<br />
	Number of Departments: <%= @number_of_departments %>
</span>
<script type="text/javascript">
$('#home_update').fadeIn();
</script>