<div id="accordion">
	<h3><a href="#">Overview</a></h3>
	<div>
		<p id="home"></p>
	</div>
	<h3><a href="#">Changes</a></h3>
	<div>
		<p id="changes"></p>
	</div>
	<h3><a href="#">Stats</a></h3>
	<div>
		<p id="stats"></p>
	</div>
	<h3><a href="#">Log</a></h3>
	<div>
		<p id="log"></p>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$( "#accordion" ).accordion({
		fillSpace: true
	});
});
</script>